body {
  background-color: #e0e7ef
}

.header-content, .footer-content {
  background-color: #343a40;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

header, footer, .app-wrapper-content {
  max-width: 1400px;
  margin: 0 auto;
  box-sizing: border-box;
  width: 100%;
}

.app-wrapper {
  margin: auto;
  display: grid;
  min-height: 100vh;
  gap: 10px;

  grid-template-rows: auto 1fr 40px;
  grid-template-areas:
    "h"
    "c"
    "f"
}

.app-wrapper-content {
  grid-area: c;
  padding-inline: 16px;
}