.header {
    grid-area: h;
    padding: 10px;
    display: flex;
}

.item {
    background-color: #fff;
    width: 20%;
    height: auto;
    padding: 10px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.item a {
    color: #333;
}

.item a.active {
    color: #e0a806;
}