.header {
    grid-area: h;
    padding: 16px;
    display: flex;
    gap: 10px;
}

.item, .signIn, .logout {
    background-color: #fff;
    padding: 10px 16px 10px 16px;
    display: flex;
    align-items: center;
    justify-content: left;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.signIn, .logout {
    margin-left: auto;
    cursor: pointer;
}

.item a, .signIn a {
    color: #333;
}

.item a.active, .signIn a.active {
    color: #e0a806;
}